@font-face {
  font-family: "MuseoSans";
  src: url("./../fonts/MuseoSans-500/museosans-500.eot");
  src: url("./../fonts/MuseoSans-500/museosans-500.eot?#iefix") format("eot"), 
       url("./../fonts/MuseoSans-500/museosans-500.woff2") format("woff2"), 
       url("./../fonts/MuseoSans-500/museosans-500.woff") format("woff"), 
       url("./../fonts/MuseoSans-500/museosans-500.ttf") format("truetype");
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-Light.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-Medium.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-Regular.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-ExtraBoldItalic.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-MediumItalic.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-Italic.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-ThinItalic.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-BoldItalic.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-BlackItalic.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-LightItalic.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-ExtraBold.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-Thin.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-Black.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('./../fonts/AlegreyaSans/AlegreyaSans-Bold.woff2') format('woff2'),
      url('./../fonts/AlegreyaSans/AlegreyaSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}