html, body, .wrapper {
  height: 100%;
}

.section {
  height: 100vh;
  &__main {
    color: #ffffff;
    background-color: #61c4d9;
    background-image: 
      url("./../img/leaves.png"),
      url("./../img/berries.png"),
      url("./../img/candy-bars.png"),
      url("./../img/main-patern.png");
    background-position: 
      right bottom -54px, 
      right bottom -38px, 
      center right, 
      center right;
    background-repeat: no-repeat;
  } 

  &__why {
    background-image: 
      url("./../img/leaves.png"),
      url("./../img/berries.png"),
      url("./../img/why-patern.png"),
      url("./../img/raspberries.png");
    background-position: 
      right top -298px, 
      right top -249px,
      center left, 
      bottom -54px left; 
    background-repeat: no-repeat;
  }

  &__reviews {
    background-image: 
      url("./../img/strawberry.png"),
      url("./../img/reviews-berries.png"),
      url("./../img/reviews-patern.png");
    background-position: 
      top 10px right,
      left bottom -121px,
      left bottom -189px;
    background-repeat: no-repeat;
  }
}

.container {
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
  
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  &__why {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}