.reviews {

  &__block {
    display: flex;
    align-items: center;
    margin-top: 55px;
    padding: 51px 45px 40px 45px;
    // width: 940px;
    // height: 351px;
    box-shadow: -10.6px 7.5px 30px 0 rgba(145, 169, 157, 0.17);
    background: #f8faf9 url("./../img/reviews-block-pic.png") top right no-repeat;
  }

  &__pic {
    width: 253px;
    height: 259px;
    margin-right: 20px;
  }

  &__text-title  {
    font-family: "AlegreyaSans";
    font-size: 30px;
    font-weight: 500;
    color: #323232;
  }

  &__text {
    max-width: 435px;
    margin: 29px 0 32px 0;
    font-family: "AlegreyaSans";
    font-size: 18px;
    color: #666666;
}
  &__author {
    font-family: "AlegreyaSans";
    font-size: 18px;
    font-weight: 500;
    color: #666666;
  }

  &__list {
    margin-top: 45px;
    display: flex;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__item-pic {
    width: 92.5px;
    height: 92.8px;
    // border-radius: 50%;
  }
  
  &__link {
    display: block;
    width: 92.5px;
    height: 92.8px;
  }

  &__item-photo {
    width: 99.5px;
    height: 99.8px;
    border: 7px solid transparent;
    border-radius: 50%;
  }
  
  &__item--active &__item-photo {
    border-color: #0f5a47;
  }

}

